{% macro navbar_items(nodes, list_class_string) -%}
  {% if nodes|count > 0 %}
    <ul class="{{list_class_string}}">
    {% for item in nodes %}
      {% if item.nodes|count > 0 %}
        <li>
          <a href="{{item.url}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}  <span class="caret"></span></a>
          {{navbar_items(item.nodes, 'dropdown-menu')}}
        </li>
      {% else %}
        <li>
          <a href="{{item.url}}">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('home')}}">{{config.CONFIG_DB.brand_name}}</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      {{navbar_items(model.navbar, 'nav navbar-nav navbar-right')}}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
