{% macro navbar_items(nodes, list_class_string) -%}
  {% if nodes|count > 0 %}
    <ul class="{{list_class_string}}">
    {% for item in nodes %}
      {% if item.nodes|count > 0 %}
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.label }}  <span class="caret"></span></a>
          {{navbar_items(item.nodes, 'dropdown-menu')}}
        </li>
      {% else %}
        <li>
          <a href="#">{{ item.label }}</a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

{{navbar_items(model.navbar, 'nav navbar-nav navbar-right')}}
