# extends 'admin/admin_base.html'
# import 'macro/utils.html' as utils
# import 'macro/forms.html' as forms

# block head
  {{utils.prefetch_link(next_url)}}
# endblock

# block admin_content
  <div class="row">
    <div class="col-md-4">
      <form method="POST" action="{{url_for('story_update', story_id=story_db.key.id())}}">
        <fieldset>
          {{form.csrf_token}}
          {{forms.textarea_field(form.title, autofocus=True)}}
          {{forms.textarea_field(form.description)}}

          {{forms.textarea_field(form.meta_keywords)}}
          {{forms.textarea_field(form.meta_description)}}
          <button type="submit" class="btn btn-primary btn-block">
            Update Story
          </button>
        </fieldset>
      </form>
    </div>
  </div>

  {{utils.next_link(next_url)}}
# endblock
