#extends 'admin/admin_base.html'
#import 'macro/utils.html' as utils
#block admin_content
  <div id="#app-wrapper" ng-app="navbarBuilderApp" class="container" style="margin-top: 2em">
    <div class="row">
      <div class="col-md-12">
        <div nav-preview tree=tree></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div ng-controller="NavbarBuilderController as controller">
          <button ng-click="save()">Save</button>
          <div ng-repeat="node in tree">
            <div nav-item item="node"></div>
          </div>
        </div>
      </div> <!-- .col-md-4 -->
      <div class="col-md-8">
        <div nav-item-edit-form></div>
      </div> <!-- .col-md-8 -->
    </div> <!-- .row -->
  </div> <!-- #app-wrapper -->
# endblock
#block scripts
  # if config.DEVELOPMENT
    <script src="/p/dev/script/admin_navbar_ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  # else
    <script src="/p/min/script/admin_navbar_ext.js?{{config.CURRENT_VERSION_ID}}"></script>
  # endif
#endblock
