{% if model.view_reduced %}
  # extends 'public/layout/empty/public_empty_layout.html'
{% else %}
  # extends 'public/layout/base/public_base_layout.html'
{% endif %}

# import 'share/macro/image.html' as image_macro

# macro story_item(item, story, idx)
    <a data-target="open-modal-swiper" style="position: relative" href="{{url_for('story', story_key=story_key(story), m='gallery', active=idx)}}">
      {{image_macro.display(item)}}
    </a>
# endmacro

# block content
  <section class="container-fluid">
    #if model.story.description
    <div class="row vspacer">
      <div class="col-xs-12 col-md-offset-2">
        <div class="description">{{model.story.description | safe}}</div>
      </div>
    </div>
    # endif
    <div class="row">
      <div class="masonry">

        #for item in model.story.story_items_expanded

        <div class="item fade-hover">
          {{story_item(item, model.story, loop.index)}}
        </div> <!-- .item -->

        #endfor
      </div> <!-- .col-md-8 -->

    </div>
  </section><!-- .contaiener-fluid -->
  #include 'public/story/bit/swiper_modal.html'
# endblock
