{% if model.view_reduced %}
  # extends 'public/layout/empty/public_empty_layout.html'
{% else %}
  # extends 'public/layout/base/public_base_layout.html'
{% endif %}

# block content
  # block slideshow
    <div class="row">
    # if model.page_data.images
        # if model.page_data.images|length > 1
          <section class="col-md-12" style="height: 615px">

              <div  data-target="swiper" class="swiper-container" >
              <div  class="swiper-wrapper">
                #for image in model.page_data.images
                <div class="swiper-slide">
                  <img style="background: {{image.image_average_color}}" class="slide-img" width="{{(image.image_size_w / image.image_size_h) * 615}}" height="615px" src="{{image.serve_url}}" />
                </div>
                #endfor
              </div>
              <div class="swiper-scrollbar"></div>
              <div class="swiper-pagination"></div>

              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
        </section>
      #else
        <section class="col-md-12 text-center hp-image-wrapper" style="position: relative">
          <img style="width: 100%; background: {{model.page_data.images[0].image_average_color}}"  src="{{model.page_data.images[0].serve_url}}" />
          # if model.page_data.description
            <article class="image-footnote text-left">
              <h3 style="margin:0px; line-height:20px; font-size:18px;">{{model.page_data.images[0].name}}</h4>
              <p style="font-size: 11px;">{{model.page_data.images[0].description}}</p>
            </article>
          # endif
        </section>
      #endif
    #endif
  </div>
  # endblock





# endblock
