<div ng-class="{'selected': isSelected(item)}" ng-click="onSelect(item)">

  <span class="drag-handle fa fa-th" style="cursor: grab"></span>
  <span>{{item.label}}</span>
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn btn-xs remove fa fa-minus" title="remove this node" alt="remove this node" ng-click="onRemove()"></button>
      <button class="btn btn-xs addChild fa fa-plus" title="add a new child node" alt="add a new child node"  ng-click="onNewChildNode(item, $event)"></button>
    </div>
  </div>
</div>
