<div ng-class="{'selected': isSelected(item)}">

  <span ng-if="item.modelType !== 'rootNode'" class="drag-handle fa fa-th" style="cursor: grab"></span>
  <span>{{item.label}}</span>
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn btn-xs edit fa fa-edit" title="edit this node" alt="remove this node" ng-click="onSelect(item)" ng-if="item.modelType !== 'rootNode'"></button>
      <button class="btn btn-xs remove fa fa-minus" title="remove this node" alt="remove this node" ng-click="onRemove()" ng-if="item.modelType !== 'rootNode'"></button>
      <button class="btn btn-xs addChild fa fa-plus" title="add a new child node" alt="add a new child node"  ng-click="onNewChildNode(item, $event) " ng-if="item.modelType === 'rootNode' || item.modelType === 'custom' "></button>
    </div>
  </div>
</div>
