<div ng-class="{'selected': isSelected(), 'deleted': isDeleted()}">
    <div ng-if="!showEditForm()" ng-click="onSelect()">
        <div class="pull-left" title="click to view '{{story.title}}' details">{{story.title}}</div>
        <div class="pull-right">
            <ul class="h-list">
                <li ng-if="$index > 4"> ...</li>
                <li ng-if="$index < 5" class="list-group-item"
                    ng-repeat="item in story.story_items_expanded">
                    <img src="{{item.image_thumb_data_url}}" height='32'/>
                <li>
                <li>
                    <button ng-if="!isDeleted()"
                            ng-click="controller.deleteStory(); $event.stopPropagation()"
                            class="btn btn-default fa fa-trash"></button>
                    <button ng-if="isDeleted()"
                            ng-click="controller.restoreStory(); $event.stopPropagation()"
                            class="btn btn-default fa fa-undo"></button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <story-form ng-if="showEditForm()"/>
</div>
