
<div class="row">
	<div class="col-xs-6 text-left">
		 <address class="author">&copy; <time pubdate date="{{current_year()}}" title="{{current_year()}}">{{current_year()}}</time> by <a rel="author" href="{{url_for('about')}}">anabella veress</a></address>
  </div>

	<div class="col-xs-6 text-right">

		<a class="btn btn-xs btn-social-icon btn-facebook" href="javascript:" title="Facebook" rel="nofollow">
			<span class="fa fa-facebook"></span>
		</a>

		<a class="btn btn-xs btn-social-icon btn-instagram" href="javascript:" target="_blank" title="Instagram" rel="nofollow">
			<span class="fa fa-instagram"></span>
		</a>

	</div>
</div>
