# if model and model.title
  {% set page_title = model.title -%}
# else
  {% set page_title = config.CONFIG_DB.brand_name -%}
# endif

#if model and model.canonical_path and model.host
  {% set page_url = model.host+model.canonical_path -%}
#else
  {% set page_url = url_for('home') -%}
#endif

<title>
  # block title
    {{page_title}}
  # endblock
</title>
<link rel="canonical" href="{{page_url}}"/>

<meta charset="utf-8">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta property="og:title" content="{{page_title}}" />
<!--meta property="og:type" content="video.movie" /-->
<meta property="og:url" content="{{page_url}}" />
<!--meta property="og:image" content="http://ia.media-imdb.com/images/rock.jpg" /-->
