<div class="navbar-item-content-wrapper" ng-class="{'selected': isSelected(item)}">

    <span ng-if="item.modelType !== 'rootNode'" class="drag-handle fa fa-th"
          style="cursor: grab"></span>
    <span>{{item.label}}</span>
    {{tem.modelType}}
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-xs edit fa fa-edit" title="edit this node" alt="remove this node"
                    ng-click="onSelect(item)"></button>
            <button class="btn btn-xs remove fa fa-minus" title="remove this node"
                    alt="remove this node" ng-click="onRemove()"></button>
            <button class="btn btn-xs addChild fa fa-plus" title="add a new child node"
                    alt="add a new child node" ng-click="onNewChildNode(item, $event)"></button>
        </div>
    </div>
</div>
