<div class="panel-body" ng-show="selectedItem.item">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label class="control-label" for="label">Label</label>
        <input type="text" class="form-control" id="name" name="name" ng-model="selectedItem.item.label">
      </div>
      <div class="form-group">
        <label class="control-label" for="label">Link</label>
        <input class="form-control" type="text" ng-model="selectedItem.item.href">
      </div>
      <div class="form-group">
        <label class="control-label" for="label">Always Show</label>
        <input class="form-control" type="text" ng-model="selectedItem.item.show">
      </div>
    </div>
  </div>
</div>
