{% if model.view_reduced %}
  # extends 'public/reduced.html'
{% else %}
  # extends 'public/full_no_scroll.html'
{% endif %}

# macro story_item(story)
    <a data-target="open-modal-swiper" href="{{url_for('story', story_key=story_key(story))}}">
      <img class="img-responsive" alt="{{story.title}}" title="{{story.title}}" src="{{story.first_story_item_expanded.serve_url}}" />
    </a>
# endmacro

# block content

<article class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 masonry">

      #for story in model.stories

      <div class="item">
        {{story_item(story)}}
      </div> <!-- .item -->

      #endfor
    </div> <!-- .col-md-8 -->

  </div>
</article><!-- .contaiener-fluid -->

  #include 'public/story/bit/swiper_modal.html'
# endblock
