#extends 'admin/admin_app_base.html'
#import 'macro/utils.html' as utils

#block admin_content
<div id="#app-wrapper" ng-app="adminApp" class="container-fluid">

  <div image-upload-form items="[]"  ></div>

  <div ng-controller="storySelectController">
    <ul class="list-group" style="max-height: 500px; overflow-y: scroll" lazy-load>
      <li class="list-group-item" ng-repeat="story in buffer">
        <div story-list-item story="story" edit-on-select="true"></div>
      </li>
    </ul>
  </div>
</div><!-- #app-wrapper -->
# endblock
