#extends 'admin/admin_base.html'
#import 'macro/utils.html' as utils
#block head
  {{utils.prefetch_link(next_url)}}
#endblock

#block admin_content
    <a class="btn btn-sm btn-primary" href="{{url_for('admin_story_create')}}">
      <span class="fa fa-fw fa-file"></span> New Story
    </a>
    <div class="alert alert-warning alert-dismissable {{'hide' if story_dbs | count > 0}}">
      There are no stories
    </div>
    <table class="table table-bordered {{'hide' if story_dbs | count == 0}}">
      <thead>
        <tr>
          <th class="col-xs-3">{{utils.order_by_link('title', 'Title')}}</th>
          <th class="col-xs-5 hidden-xs">{{utils.order_by_link('description', 'Description')}}</th>
          <th class="col-xs-2 hidden-xs">{{utils.order_by_link('modified', 'Modified')}}</th>
          <th class="col-xs-1">Actions</th>
        </tr>
      </thead>
      <tbody>
        #for story_db in story_dbs
        <tr>
          <td>
            <a href="{{url_for('admin_story_update', story_id=story_db.key.id())}}" title="Update {{story_db.title}}">
                {{story_db.title}}
            </a>
          </td>
          <td class="hidden-xs">
              {{story_db.description}}
          </td>
          <td class="hidden-xs">
            <time datetime="{{story_db.modified}}">{{story_db.modified}}</time>
          </td>
          <td class="text-nowrap">
            <a class="btn btn-xs btn-primary" href="{{url_for('admin_story_update', story_id=story_db.key.id())}}">
              <i class="fa fa-fw fa-edit"></i>
            </a>
            <button class="btn btn-xs btn-danger btn-delete"
                data-api-url="{{url_for('api.story', story_key=story_db.key.urlsafe())}}"
                data-target="#{{story_db.key.urlsafe()}}"
              >
              <i class="fa fa-fw fa-trash-o"></i>
            </button>
          </td>
        </tr>
        #endfor
      </tbody>
    </table>
    {{utils.next_link(next_url)}}

#endblock
