{% if model.view_reduced %}
  # extends 'public/reduced.html'
{% else %}
  # extends 'public/full_no_scroll.html'
{% endif %}

# block content
  <div class="table">
    <div class="row table-content" style="position:relative">
  # block slideshow
    # if model.page_data.images


        # if model.page_data.images|length > 2
          <section class="col-md-12" style="height: 100%;">
            <div data-target="swiper" class="swiper-container">
              <div class="swiper-wrapper">
            #for image in model.page_data.images
                <div class="diaporama-item swiper-slide">
                  <div class="full">
                    <img class="hp-main-image full max-size" src="{{image.serve_url}}" />
                  </div>
                </div>
            #endfor
            </div>

            <div class="swiper-pagination"></div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </section>
      #elif model.page_data.images|length == 1
        <section class="col-md-12" style="height: 100%;">
          <div class="full">
              <img class="hp-main-image full max-size"  src="{{model.page_data.images[0].serve_url}}" />
          </div>
        </section>
      #elif model.page_data.images|length == 2
        <div class="table" style="display: table; vertical-align: middle">
        <div class="table-content">
           <div class="aligned-v" data-target="optimal-size">
             <div class="item">
               <img class="hp-main-image" src="{{model.page_data.images[0].serve_url}}" />
             </div>
             <div class="item">
               <img class="hp-main-image" src="{{model.page_data.images[1].serve_url}}" />
            </div>
          </div>
        </div>
      </div>
      #endif




    #endif
  # endblock
    </div>
  # if model.page_data.description
    <article class="table-footer row vspacer">
      <div class="col-md-12">
        {{model.page_data.description | safe}}
      </div>
    </article>
  # endif
  </div>


# endblock
