.focus-border {
  padding: 10px;
  border : 5px solid @gray-base;
}

.subtitle {
  font-size: 1.625em;
  font-weight: normal;
}

.navbar-brand {
  font-size: 28px;
  line-height: 2px;
}

.navbar-nav > li > a {
  line-height: 2px;
}

.modal-dialog {
  width: 90%;
}

.modal-header{
  border-bottom: 1px solid transparent;
}

.vspacer {
  margin-bottom: 26px;
}
