@import '../shared/variables.less';

/* ########################################### bootsrap overwrites */
@border-radius-base : 5px;
@border-radius-large : 0px;


@font-family-base : SofiaProLightRegular, sans-serif;
@font-size-base : 16px;
@font-size-h1 : 45px;

@headings-font-weight: bold;
@navbar-height : 100px;
@navbar-default-bg: transparent;
@navbar-default-color : @gray-base;
@navbar-default-link-color : @gray-base;
@navbar-default-link-active-color : #EA04B8;
@navbar-padding-horizontal : 0px;

@grid-float-breakpoint : @screen-md-min;

/* ############################ colors */

@gray-base : #000;

@text-color : @gray-base;

@link-color: @gray-base;

@link-hover-color: #EA04B8;

@brand-primary : #EA04B8;

@input-border-focus : @brand-primary;

@padding-base : 8px;

/* ########################################### size */

@main-max-width : 1040px;
@footer-collapsed-width : 60px;

/* ########################################### fonts */

@sofia-pro-font-path: '/p/fonts/sofia-pro';
