@import '../shared/variables.less';

/* ########################################### bootsrap overwrites */
@border-radius-base : 0px;
@border-radius-large : 0px;


@font-family-base : din-next-w01-light, sans-serif;
@font-size-base : 16px;
@font-size-h1 : 45px;

@headings-font-weight: bold;

@navbar-height : 35px;

/* ############################ colors */

@gray-base : #1C1C1C;

@text-color : @gray-base;

@link-color: @gray-base;

@link-hover-color: #AAA8A8;


@padding-base : 8px;

/* ########################################### size */

@main-max-width : 980px;
@footer-collapsed-width : 60px;
@footer-expanded-width : 600px;
