<!DOCTYPE html>
<html class="{% block html_class %}{{html_class}}{% endblock %}" lang="en">
  <head>
    # include 'bit/meta.html'
    <title>
      # block title
        {{title + ' |' if title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>
    # include 'public/bit/style.html'
    # block head
    # endblock

  </head>

  <body>
    <div id="main-wrapper">

      # include 'bit/announcement.html'
      # block header
        #include 'public/bit/header.html'
      # endblock
      <div class="container-fluid">
        # include 'bit/notifications.html'
      </div>
      # block content
      # endblock

      <footer id="main-footer" class="footer" role="contentinfo">
        # block footer
          # include 'bit/footer.html'
        # endblock
      </footer>
    </div>
    # include 'bit/script.html'
    # block scripts
    # endblock
    # include 'bit/analytics.html'
  </body>
</html>
