<!DOCTYPE html>
<html class="{% block html_class %}{{model.html_class}}{% endblock %}" lang="en">
  <head>
    # include 'bit/meta.html'
    <title>
      # block title
        {{model.title + ' |' if model.title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>

    # include 'public/shared/bit/style.html'

    # block head

    # endblock

  </head>

  <body>
    <div id="main-wrapper">
        #include 'public/reduced.html'
    </div>
    # include 'public/shared/bit/script.html'
    # block scripts
    # endblock
    # include 'public/shared/bit/analytics.html'
  </body>
</html>
