<!DOCTYPE html>
<html class="{% block html_class %}{{model.html_class}}{% endblock %}" lang="en">
  <head>
    # include 'bit/meta.html'
    <title>
      # block title
        {{model.title + ' |' if model.title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>

    # include 'public/shared/bit/style.html'
    # block head

    # endblock
  </head>

  <body>
      # block navbar
        #include 'public/shared/bit/navbar.html'
      # endblock
      <div class="container-fluid vspacer">
        # block content

        # endblock
      </div>

      <footer class="footer-wrapper container-fluid vspacer" role="contentinfo">
        # block footer
          # include 'public/shared/bit/footer.html'
        # endblock
      </footer>


    # include 'public/shared/bit/script.html'
    # block scripts
    # endblock
    # include 'public/shared/bit/analytics.html'
  </body>
</html>
