<!DOCTYPE html>
<html class="{% block html_class %}{{model.html_class}}{% endblock %}" lang="en">
  <head>
    # include 'bit/meta.html'
    <title>
      # block title
        {{model.title + ' |' if model.title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>

    # include 'public/shared/bit/style.html'
    # block head

    # endblock
  </head>

  <body>
    <div id="main-wrapper" class="{{model.page}}">

      <header id="page-header-wrapper" class="header" role="contentinfo">
        # block header
          #include 'public/shared/bit/header.html'
        # endblock
      </header>

      <div id="page-content-wrapper">
        # block content

        # endblock
      </div>

      <footer id="page-footer-wrapper" class="footer" role="contentinfo">
        # block footer
          # include 'public/shared/bit/footer.html'
        # endblock
      </footer>

    </div>
    # include 'public/shared/bit/script.html'
    # block scripts
    # endblock
    # include 'public/shared/bit/analytics.html'
  </body>
</html>
