
.image-footnote {
  position: absolute;
  bottom: 0px;
  height: 57px;
  padding: 4px;
  left: 15px;
  right: 15px;
  opacity: 0;
  background: #FFF;
  transition: 0.5s;
}
.carousel .image-footnote {
  left: 0px;
  right: 0px;
}

.carousel {
  .carousel-control {
    opacity: 0;
  }
}
.image-wrapper {
  position: relative;
}
.carousel:hover{
  .active .image-footnote {
    opacity : 0.8;

  }
  .carousel-control {
    opacity: 1;
  }
}
