# extends 'public/full_no_scroll.html'

# block content
<div class="jumbotron vcenter">
  <div class="container text-center">
    <h2 >
      {{error.code}}
    </h2>
    </span>{{error.name}} <span>
    <p> <br/> Maybe it's our fault.. maybe it's yours.. but either case, this page is unavailable!</p>
    <p><a href="{{url_for('about')}}">Contact us</a>, <a href="javascript:history.go(-1)" title="Return to previous page">go back</a> and retry or go to the <a href="{{url_for('home')}}">main page</a></p>
  </div>
</div>

# endblock
